b{
    background-color:lightyellow;
    color:darkorange;
}
#name{
    color: red;
    background-color:lightpink;
}
h4{
    background-color: lightgray;
    color: darkred;
}
ul{
    color: yellowgreen;
}
*{
    background-color:aliceblue;
}
